<header class="site-header">

    <div class="wrapper">
        <nav class="side-nav-list">
            <ul class="side-nav-list">
                <li class="side-nav-list-item main">
                    <a href="/about"><img class="side-nav-avatar"
                                          src="//gravatar.com/avatar/0b3d4d98262038645d6eb872130c7ff3?s=80" width="36"
                                          height="36" alt="User Gravatar"> Me</a>
                </li>

                <li class="side-nav-list-item">
                    <a href="/"><i class="fa fa-pencil"></i> Blog</a>
                </li>
                <li class="side-nav-list-item">
                    <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> Github</a>
                </li>
                <li class="side-nav-list-item">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                <li class="side-nav-list-item">
                    <a href="http://rinconstrategies.io/"><i class="fa"><img src="/images/rs_logo_gray.png" height="15px" width="15px"/></i> Work</a>
                </li>
            </ul>
            <script data-codementor="bringking" data-style="button" data-theme="dark" src="https://cdn.codementor.io/d/badge.js" async></script>
        </nav>
    </div>
</header>
