
.controls{
  position:fixed;
  top:0;
  height:50px;
  left:0;
  right:0;

  z-index: 1;
  @include min-media-query($on-laptop) {
    background:none;
  }
}

.nav-toggle {
  position: fixed;
  color: rgb(128, 134, 138);
  top: 18px;
  left: 25px;
  font-size: 18px;
  will-change: left;
  transition: left ease 250ms;
  cursor: pointer;
  &:hover {
    color: rgb(42, 132, 149);
  }

  &.open {
    left: 175px;
  }

  @include min-media-query($on-laptop) {
    top: 25px;
  }
}

.contrast-toggle {
  position: fixed;
  color: rgb(128, 134, 138);
  top: 18px;
  right: 25px;
  font-size: 18px;
  will-change: left;
  transition: left ease 250ms;
  cursor: pointer;

  &:hover {
    color: rgb(42, 132, 149);
  }
  @include min-media-query($on-laptop) {
    top: 25px;
  }
}

/**
 * Site header
 */
.site-header {

  &.open {
    width: 150px;
    .side-nav-list {
      font-size: 1em !important;
    }
    z-index: 2;
  }
  z-index:2;
  height: 100%;
  width: 0px;
  position: fixed;
  background-color: rgb(13, 15, 23);
  text-align: center;
  overflow: hidden;
  transition: width 200ms ease;
  will-change: width;

  @include min-media-query($on-laptop) {

    width: 150px !important;

  }

}

.side-nav-list {
  height: 100%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0px;
  will-change: font-size;
  transition: font-size ease 200ms;

  @include min-media-query($on-laptop) {

    font-size: 1em !important;

  }
}

.side-nav-list-item {
  font-family: "Oxygen";
  font-weight: bold;
  height: 40px;
  line-height: 40px;

  &.main {
    height: 80px;
    line-height: 80px;
    .side-nav-avatar {
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  a {
    display: block;
    color: rgb(128, 134, 138);
    text-decoration: none;

    will-change: color, background-color;
    transition: color, background-color ease 250ms;

    i, .side-nav-avatar {
      float: left;
    }
    i {
      margin-top: 12px;
      margin-left: 12px;
    }
    &:hover {
      color: rgb(13, 15, 23);
      background-color: rgb(42, 132, 149);
      .side-nav-avatar {
        transform: scale(1.2);
      }

    }
  }
}

.side-nav-avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  will-change: transform;
  transition: all ease 250ms;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: inherit;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: inherit;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content-container {
  padding: 12px;
  padding-top: 65px;
  padding-right: 45px;
  padding-left: 45px;

  @include min-media-query($on-laptop) {

    margin-left: 150px;
    //padding-right: 162px;

  }
}

.page-content {
  font-weight: 200;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  color: inherit;
  margin-left: -15px;
  margin-right: -15px;
  @include min-media-query($on-laptop) {

    margin-left: auto;
    margin-right: auto;

  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: .8em;
  color: rgb(42, 132, 149);
}

.post-link {
  a {
    text-decoration: none;
    color: rgb(42, 132, 149);
  }
  margin-top: 10px;
  text-align: right;
}

.post-excerpt {

}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;

  .animated-title {
    position: relative;
    h1 {
      font-family: "Source Sans Pro";
      font-size: 50px;
      font-weight: 200;
      &.main {
        color: rgb(155, 160, 165);
      }
      &.companion {
        top: 0px;
        position: absolute;
        color: rgb(42, 132, 149);
        -webkit-animation: fade 9s infinite; /* Safari 4+ */
        -moz-animation: fade 9s infinite; /* Fx 5+ */
        -o-animation: fade 9s infinite; /* Opera 12+ */
        animation: fade 9s infinite; /* IE 10+, Fx 29+ */

      }
    }

  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
